<body>
	<!-- Navbar -->
{{>nav}}

    <div class="container mt-3">
      <div class="row">
        <div class="col-3">
          <div>
            <h1>Profile</h1>
            <div
              class="h4 pb-2 mb-4 text-danger border-bottom border-secondary"
            ></div>
          </div>
          <form action="/profile?_method=PATCH" method="POST">
            <small>Name</small>
            <input
              class="form-control mb-2"
              type="text"
              aria-label="default input example"
							name="name"
							value='{{user.name}}'
            />
            <small>Email</small>
            <label
              for="exampleFormControlInput1"
              class="form-label mb-2"
            ></label>
            <input type="email" class="form-control mb-2" name="email" value="{{user.email}}"/>
            <small>Profile Picture</small>
            <img
              src="{{user.avatar}}"
              alt="user"
              class="rounded-circle reviewavatar d-block mt-1 mb-2"
            />
            <input
              class="form-control mb-2"
              type="text"
              aria-label="default input example"
							name="avatar"
							value="{{user.avatar}}"
            />
            <button class="btn btn-success">Save Changes</button>
          </form>
        </div>
        <div class="col-9">
          <h1>My Listings</h1>
          <div
            class="h4 pb-2 mb-4 text-danger border-bottom border-secondary"
          ></div>
					<a href="/houses/create">
          <button type="button" class="btn btn-success">List a House</button>
				</a>
          <div class="">
						{{#if houses}}

            <div class="row row-cols-1">
              <div class="col p-2">
								{{#each houses as |house|}}
                <div class="card">
                  <div class="card-body">
                    <div class="row row-cols-2">
                      <div class="col-4">
                        <img
                          class="img-fluid"
                          src="{{house.photos.[0]}}"
                          alt="listing photo 1"
                        />
                      </div>
                      <div class="col-8">
                        <h1>{{house.title}}</h1>
                        <span
                          ><i class="fa-solid fa-map-location"></i> {{house.location}}
                          <i class="fa-regular fa-circle-dot"></i> {{house.rooms}} Rooms</span
                        >
                        <div class="row">
                        </div>
                        <p>
                          {{house.description}}
                        </p>
                        <div class="col">
													<a href="/houses/{{house._id}}/edit"	class="btn btn-outline-secondary">Edit</a>
													<a href="/houses/{{house._id}}" class="btn btn-outline-primary">View</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
								{{/each}}
              </div>
            </div>
						{{else}}
						<div class="alert alert-light" role="alert">
						You don't have any listings.
					</div>
						{{/if}}
          </div>
        </div>
      </div>
    </div>
  </body>
