<body>
	<!-- Navbar -->
	{{>nav}}
    <!-- Filterbar -->
    <div class="filters bg-light text-dark py-2">
      <form class="" action="/houses" method="GET">
        <div class="container">
          <div class="row">
            <!-- Location -->
            <div class="col">
              <div class="input-group">
                <span class="input-group-text"
                  ><i class="fa-solid fa-location-dot"></i
                ></span>
                <select class="form-select" name="location">
                  <option selected>Any Location</option>
                  <option value="Koh Phangan">Koh Phangan</option>
                  <option value="Koh Samui">Koh Samui</option>
                  <option value="Bali">Bali</option>
                </select>
              </div>
            </div>
            <!-- Rooms -->
            <div class="col">
              <div class="input-group">
                <span class="input-group-text"
                  ><i class="fa-solid fa-house-chimney"></i
                ></span>
                <select class="form-select" name='rooms'>
                  <option selected>Any rooms</option>
                  <option value="1">1 Room</option>
                  <option value="2">2 Rooms</option>
                  <option value="3">3 Rooms</option>
                  <option value="4">4 Rooms</option>
                  <option value="5">5 Rooms</option>
                </select>
              </div>
            </div>
            <!-- max price -->
            <div class="col">
              <div class="input-group">
                <span class="input-group-text"
                  ><i class="fa-solid fa-dollar-sign"></i
                ></span>
                <input
                  type="number"
                  class="form-control"
                  placeholder="max price"
									name='price'
                />
              </div>
            </div>
            <!-- Price (low to high) -->
            <div class="col">
              <div class="input-group">
                <span class="input-group-text"
                  ><i class="fa-solid fa-arrow-down-short-wide"></i
                ></span>
                <select class="form-select">
                  <option selected>Price (low to high)</option>
                  <option value="1">Price (high to low)</option>
                </select>
              </div>
            </div>
            <!-- House name... -->
            <div class="col">
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="House name..."
									name='title'
                />
              </div>
            </div>
            <!-- Search button -->
            <div class="col">
              <button class="btn btn-success">Search</button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <!-- Houses -->
    <div class="houses">
      <div class="container">
        <div class="row row-cols-4">
					{{#each houses as |house|}}
          <div class="col">
            <div class="card my-3">
              <img
                src="{{house.photos.[0]}}"
                class="card-img-top"
                alt="house 1 picture 1"
              />
              <div class="card-body">
                <span>{{house.location}} . {{house.rooms}} Rooms</span>
                <h5 class="card-title">
                  <a href="/houses/{{house._id}}" class="stretched-link">{{house.title}}</a>
                </h5>
                <div class="row">
                  <div class="col">3 reviews</div>
                  <div class="col text-end">${{house.price}}/night</div>
                </div>
              </div>
            </div>
          </div>
					{{/each}}
        </div>
      </div>
    </div>
  </body>
