<body>
	<!-- Navbar -->
{{>nav}}
    <!-- topImages -->
    <div class="topImages">
      <div class="row row-cols-2 border-bottom">
        <div class="col">
          <img
            src="{{house.photos.[0]}}"
            alt="house 1 picture 1"
            class="img-fluid houseBigImageLeft"
          />
        </div>
        <div class="col">
          <div class="row row-cols-3 gy-2 mt-1">
						{{#each house.photos as |photo|}}
            <div class="col ">
              <img
                src="{{photo}}"
                alt="houseSmall1"
                class="img-fluid"
								onclick="selectBigImage(this)"
              />
            </div>
						{{/each}}
          </div>
        </div>
      </div>
    </div>
    <!-- Description and Request Booking -->
    <div class="container">
      <div class="row row-cols-2">
        <div class="col-8 mt-3">
          <h1>{{house.title}}</h1>
          <span
            ><i class="fa-solid fa-map-location"></i> {{house.location}}
            <i class="fa-regular fa-circle-dot"></i> {{house.rooms}} Rooms</span
          >
          <div class="row mb-2">
            <div class="col-1">
              <img
                src="{{user.avatar}}"
                alt=""
                class="rounded-circle img-fluid"
              />
            </div>
            <div class="col-11 text-start">
              <div class="row-1">
                <div class="col text-secondary">Hosted by</div>
                <div class="col">{{user.name}}</div>
              </div>
            </div>
          </div>
          <p>
            {{house.description}}
          </p>
        </div>
        <div class="col-4 mt-3">
					{{#if booking}}
					<div class="card shadow float-end reqcard" style="width: 18rem;">
						<div class="card-body">
							<h5 class="card-title">$350/night</h5>
							<span>0 reviews</span>
							<div class="alert alert-success" role="alert">
								Thank you for your enquiry!
								<span>Sent on 02 Jan 2022 01:01</span>
							</div>
						</div>
					</div>
					{{else}}
          <div class="card shadow float-end" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">${{house.price}}/night</h5>
              <span>0 reviews</span>
							<!-- MODIFY ABOVE LATER TO SHOW NUMBER OF REVIEWS -->

              <form class="requestBooking" action="/bookings" method="POST">
								<input type="hidden" name="house" value="{{house._id}}"/>
                <textarea
                  class="form-control"
                  rows="5"
                  placeholder="Send the host a message..."
                  name="description"

                ></textarea>
                <button class="btn btn-success mt-3">Request Booking</button>
              </form>
            </div>
          </div>
					{{/if}}
        </div>
        <!-- Leave a Review -->
        <div class="col-8">
          <h2>{{reviews.length}} reviews</h2>
					<!-- MODIFY ABOVE LATER TO SHOW NUMBER OF REVIEWS -->
          <form class="leaveReview" action="/reviews" method="POST">
						<input type="hidden" name="house" value="{{house._id}}">
            <label for="">Leave a review</label>
            <textarea
              class="form-control"
              rows="5"
              aria-label="With textarea"
              name="description"
            ></textarea>
            <button type="button" class="btn btn-outline-success mt-2">
              <i class="fa-regular fa-thumbs-up"></i>
            </button>
            <button type="button" class="btn btn-outline-danger mt-2">
              <i class="fa-regular fa-thumbs-down"></i>
            </button>
            <button class="btn btn-success d-block reviewsubmit mt-2"
              >Submit</button
            >
          </form>
        </div>
      </div>
      <!-- Review Cards -->
      <div class="reviews mt-4">
        <!-- Review Card 1 -->
				{{#if reviews.length}}
				{{#each reviews as |review|}}
        <div class="card w-50 mb-3">
          <div class="row">
            <div class="col-2">
              <img
                src="{{review.author.avatar}}"
                alt="avatar"
                class="reviewavatar rounded-circle m-3"
              />
            </div>
            <div class="col-10">
              <div class="row">
                <div class="col" class="detailsReview">
                  <span class="text-secondary">{{review.date}}</span>
                </div>
                <div class="col text-end mx-3">
                  <i class="fa-solid fa-thumbs-up"></i>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <h5>{{review.author.name}}</h5>
                  <p>
                    {{review.description}}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
				{{/each}}
				{{/if}}
      </div>
    </div>
  </body>
